

block content
    h1(id="header" style=" font-size:50;font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;text-align: center;background-color: rgba(5, 238, 129, 0.758);") To Do List
    h3(id="welcome_note" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;") Welcome to To Do List,
    div(id="content_div" style="background-color: rgb(215, 221, 221);padding:20px 40px 20px 40px;")
        p(id="wel_para" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:19px;text-align: justify;line-height: 28px;background-color: whitesmoke;padding: 20px;") 
            | Dear #{username},
            br
            | We wanted to inform you that a login to your account was detected 
            br
            br
            | If you do not recognize this login attempt, please secure your account immediately by:
            br
            |   1. Changing your password.
            br
            |   2. Enabling two-factor authentication (if available).
            br
            |   3. Reviewing recent account activity for any unauthorized actions.
            br
            br
            |If you need further assistance, please contact our support team at
            span
                a(href=`mailto:${email}` style="color: #0066cc; text-decoration: none;") #{email}
            | .Thank you for your attention to this matter.
            br
            |Best regards.



                

    

